.container {

    @media (max-width:320px){
        max-width: 300px;
        margin: 0 auto;
    }
    
    @media (min-width:768px){
        max-width: 727px;
        margin: 0 auto;
    }
    
    @media (min-width:1728px){
        max-width: 1560px;
        margin: 0 auto;
    }
}