.user-action {
    
    &__button {
        @include clear-button;
        img {
            width: 19px;
            height: 17px;
        }

        @media (min-width:768px) {
            img {
                width: 29px;
                height: 27px;
            }
        }

        &--hidden {
            @media (min-width:767px) {
                display: none;
            }
        }
    }
    

}